@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Autos Fredy</h1>
    <p class="lead">Sistema de Control de Activos.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Leer más &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Venta de Autos</h2>
        <p>
           Todo tipo de vehiculos a la venta.
        </p>
        <p><a class="btn btn-default" href="#">Leer más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Venta de Ganado</h2>
        <p>Contamos con ganado vacuno a la venta.</p>
        <p><a class="btn btn-default" href="#">Leer más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Financiamiento</h2>
        <p>Creditos y financiamiento disponible.</p>
        <p><a class="btn btn-default" href="#">Leer más &raquo;</a></p>
    </div>
</div>